* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

body {
  background-color: hsl(0, 0%, 8%);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 100vh;
}

.socialLink_card {
  background-color: hsl(0, 0%, 12%);
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: hsl(0, 0%, 100%);
  border-radius: 6px;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.userAvatar {
  width: 80px;
  border-radius: 50%;
  background-size: contain;
}

.userName {
  font-size: 1.25rem;
  margin-bottom: 5px;
}

.userLocation {
  font-size: 0.7rem;
  font-weight: 600;
  color: hsl(75, 94%, 57%);
  margin-bottom: 16px;
}

.userMessage {
  font-size: 0.7rem;
  margin-bottom: 18px;
}

/** userLinks - button  */
.userLinks {
  width: 90%;
  margin-bottom: 8px;
  background-color: hsl(0, 0%, 20%);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.15s;
}

.userLinks:hover {
  background-color: hsl(0, 0%, 8%);
}

.userLinks:active {
  background-color: hsl(0, 0%, 14%);
}

/** userLinks a - an anchor link inside a button  */
.userLinks a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0.7rem;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  padding: 8px 0;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
